@import 'tailwindcss' prefix(mup);

@custom-variant hc (&:where(html.is-high-contrast *));

@theme {
	--font-mont: "Montserrat", "sans-serif";
	--font-sans: "Nunito Sans", "sans-serif";
	--font-holiday: "Snowburst One", "cursive";
	--font-science: "new-science", "sans-serif";

	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1440px;

	--color-*: initial;
	--color-transparent: "transparent";
	--color-inherit: "inherit";
	--color-black: #131716;
	--color-green-darkest: #003314;
	--color-green-darker: #007129;
	--color-green-dark: #028833;
	--color-green-bright: #08cd4f;
	--color-green-light: #fafffc;
	--color-green: #00ac3e;
	--color-white: #ffffff;
	--color-brown: #925d49;
	--color-brown-dark: #402d20;
	--color-gray-50: #fafafa;
	--color-gray-100: #edeeee;
	--color-gray-200: #cbcece;
	--color-gray-300: #a9adad;
	--color-gray-400: #868c8c;
	--color-gray-500: #535c5c;
	--color-gray-600: #3a4040;
	--color-gray-700: #313737;
	--color-gray-800: #212424;
	--color-gray-900: #131716;
	--color-red-50: #fef2f2;
	--color-red-100: #fee2e2;
	--color-red-200: #fecaca;
	--color-red-300: #fca5a5;
	--color-red-400: #f87171;
	--color-red-500: #ef4444;
	--color-red-600: #dc2626;
	--color-red-700: #b91c1c;
	--color-red-800: #991b1b;
	--color-red-900: #7f1d1d;
	--color-yellow-50: #fefce8;
	--color-yellow-100: #fef9c3;
	--color-yellow-200: #fef08a;
	--color-yellow-300: #fde047;
	--color-yellow-400: #facc15;
	--color-yellow-500: #eab308;
	--color-yellow-600: #ca8a04;
	--color-yellow-700: #a16207;
	--color-yellow-800: #854d0e;
	--color-yellow-900: #713f12;
	--color-orange-50: #fff7ed;
	--color-orange-100: #ffedd5;
	--color-orange-200: #fed7aa;
	--color-orange-300: #fdba74;
	--color-orange-400: #fb923c;
	--color-orange-500: #f97316;
	--color-orange-600: #ea580c;
	--color-orange-700: #c2410c;
	--color-orange-800: #9a3412;
	--color-orange-900: #7c2d12;

	--ease-fluid: cubic-bezier(0.3, 0, 0, 1);
	--ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

:root {
	--transition-default: all 0.15s ease-out;

	  /* text-xs */
	--text-xs: 0.75rem; /* 12px */
	--text-xs--line-height: 1rem; /* 1.333 */

	/* text-sm */
	--text-sm: 0.875rem; /* 14px */
	--text-sm--line-height: 1.25rem; /* 1.429 */

	/* text-base */
	--text-base: 1rem; /* 16px */
	--text-base--line-height: 1.5rem; /* 1.5 */

	/* text-lg */
	--text-lg: 1.125rem; /* 18px */
	--text-lg--line-height: 1.75rem; /* 1.556 */

	/* text-xl */
	--text-xl: 1.25rem; /* 20px */
	--text-xl--line-height: 1.75rem; /* 1.4 */

	/* text-2xl */
	--text-2xl: 1.5rem; /* 24px */
	--text-2xl--line-height: 2rem; /* 1.333 */

	/* text-3xl */
	--text-3xl: 1.875rem; /* 30px */
	--text-3xl--line-height: 2.25rem; /* 1.2 */

	/* text-4xl */
	--text-4xl: 2.25rem; /* 36px */
	--text-4xl--line-height: 2.5rem; /* 1.111 */

	/* text-5xl */
	--text-5xl: 3rem; /* 48px */
	--text-5xl--line-height: 1; /* 1 */

	/* text-6xl */
	--text-6xl: 3.75rem; /* 60px */
	--text-6xl--line-height: 1; /* 1 */

	/* text-7xl */
	--text-7xl: 4.5rem; /* 72px */
	--text-7xl--line-height: 1; /* 1 */

	/* text-8xl */
	--text-8xl: 6rem; /* 96px */
	--text-8xl--line-height: 1; /* 1 */

	/* text-9xl */
	--text-9xl: 8rem; /* 128px */
	--text-9xl--line-height: 1; /* 1 */
}
